[2019-02-21 02:28] gnumoreno opened #1 "How to pass arguments that are not mapped in the yaml conf file?"
@iravid

For arguments to the spark connector like username and password (authentication)

Can we still do this?

[code]

Or does the scala migrator code have to be changed so these parameters can be passed via the yaml conf file?

[2019-02-21 06:00] iravid commented on #1
Ah sorry, the Migrator would need to support this explicitly. I’ll add support for that in a day or two.
On 21 Feb 2019, 4:28 +0200, Moreno Garcia e Silva <notifications@github.com>, wrote:

[2019-10-22 17:49] dyasny opened #6 "Support RandomPartitioner"
The tokens generated by RandomPartitioner are in a different range than with Murmur3, and when running the migrator `java.lang.Exception: Encountered TokenRanges that use tokens of a type that isn't Long.This probably means that the server is using a Random partitioner which is currentlyunsupported` is what we see

We should be able to migrate from all supported Scylla and c* configurations

[2019-10-31 15:06] #6 closed

[2019-11-05 20:10] anirbanroydas opened #8 "[URGENT NEED] sbt build.sh is failing"
Hi the `build.sh` is failing for me. I am using the `master` branch. I am not much familiar with **`scala`** and its **build tool**  `sbt` at all. I come from a _golang_, _python_ background mostly, so would really appreciate a quick help here.

My Current spark cluster consists of `3 ec2 instances` running `ubuntu 18.04` and I followed each steps to setup the cluster etc. All of them are running

[2019-11-05 20:12] anirbanroydas commented on #8
Hi @iravid, tagging you here just get some quick resolution here.

[2019-11-06 09:44] anirbanroydas commented on #8
@iravid Does it have to with my java version, looking into the `build.sbt` file, I found
`javacOptions ++= Seq("-source", "1.8", "-target", "1.8"),`
Which may seem to be different from my `javac --version` result?

[2019-11-07 06:47] anirbanroydas commented on #8
@iravid I actually tested building it in my mac. With java 8 too and still it didn't work. Which tells me its not related to java probably and related to the missing dependency `com.typesafe.sbt#sbt-git;0.8.5: not found`

On mac java version
[code]

I would really like some help here since I am trying out a scylla migration and looking for the spark based solution.

[2019-11-07 16:30] tarzanek commented on #8
and I am quite sure you need java 1.8 (I actually built on Ubuntu stable with sbt 1.3.3 and jdk 1.8), let me send you my env settings, I think you're close to getting it built on your linux box

[2019-11-08 07:25] anirbanroydas commented on #8
@tarzanek Okay appreciate your help. Let me know when you get to build it successfully.

I tried in ubuntu 18.04 and in mac os. Both didn't work for me. Since I am not really familiar with the build tools and I am not able to hack into it to make it work either.

[2019-11-08 17:08] anirbanroydas commented on #8
Hi guys, would really appreciate some solution here. Kind of in a fast paced place needing the migration done. Did anyone figure out what is the issue with the above failing build?
@iravid  @tarzanek

[2019-11-08 19:31] tarzanek commented on #8
[code]
is my environment that can get you past the issue above

[2019-11-08 19:56] anirbanroydas commented on #8
Thanks @tarzanek.  Yeah so I want to stick to 18.04. What patches needed to support it in 18.04. What is the exact issue that I am facing which is failing to build it? Any ideas on that?

[2019-11-08 20:16] tarzanek commented on #8
I think 18.04 will work too with above versions of java and sbt, however I found another problem(merge issue in master), so let me figure it out

[2019-11-08 20:28] tarzanek commented on #8
btw. in your above environment you should be able to also proceed by changing java to 1.8

[2019-11-08 20:37] tarzanek commented on #8
[code]
on Fedora 30 also works, so this problem you saw is above jdk 1.8 for sure

[2019-11-08 20:42] tarzanek commented on #8
also the other idea I have that there is something in your env that might change how sbt works?
can you check `env` ?

[2019-11-08 20:43] tarzanek commented on #8
the other idea I have is that you might try to check sbt cache, I saw cases where the cache was corrupted and it broke dependency lookups

[2019-11-08 21:49] tarzanek commented on #8
fwiw - also try to clone the repo anew, my submodule problem which resulted in build error was caused by leftover files/cache and it was just easier to clone the repo anew than to look for faulty dirs

[2019-11-08 21:50] tarzanek commented on #8
fwiw - I will add a travis build to this repo based on this debate, so we know that the repo builds and have steps to build documented in automated CI too

[2019-11-08 22:06] anirbanroydas commented on #8
@tarzanek  Thanks. I am going to give this a try with the above steps. Let me see if the sea monster wants me to migrate or not 😬

[2019-11-08 22:14] anirbanroydas commented on #8
just fyi:

Here's my `env` before starting the process;

[code]

[2019-11-08 22:33] tarzanek commented on #8
OK, can you try having just clean PATH?
[code]

[2019-11-08 22:35] tarzanek commented on #8
worst case we can try sstableloader, how big is your dataset?
Also if you are a customer, we should take it to support channel.
If you are open source user we can move this debate to open source slack - http://slack.scylladb.com/
you can find me there as Lubos

[2019-11-08 22:36] tarzanek commented on #8
or I can send you the binary I build :-) (from official scylladb email of course)

[2019-11-08 22:45] anirbanroydas commented on #8
@tarzanek Successfully built this time. At least the built step cleared. I will have to wait and see what happens when I start the spark job.

I did the following:
1. Deleted jdk 11
2. Installed openJDK8
3. Cleared sbt cache
4. Deleted scylla-migrator repo clone
5. Added new clone.
6. Ran build script

Few minutes later --> Build Successful. Though I saw a few Warnings. But the first hurdle is cro

[2019-11-08 22:46] tarzanek commented on #8
ok, so this explains what I saw too, it seems the repo is having leftovers from previous builds/jdks which later break the new build ... we should look at this

[2019-11-08 22:47] anirbanroydas commented on #8
Btw,

I had already taken a look into sstableloader. But planned to try the migrator for the robustness it advertises. Will post here if I find anymore issues.

I will slack if needed.

[2019-11-08 22:51] anirbanroydas commented on #8
Also once all the gaps are filled, few things that would be really useful to lay down are all the dependencies with the versions for the project, including java version, spark version, everything. The ScyllaDB blog/webinars I went over doesn't mention anything and as of now README has the spark dependency mentioned.

[2019-11-09 00:45] tarzanek commented on #8
The versions are a little bit hidden and transitive - the magic is in https://github.com/scylladb/scylla-migrator/blob/master/build.sbt (+ plugins of course)
which specifies dependencies, but yes, we can try to point out more info (or mention this is classical sbt build, which explains where to look for what)
and yes, please do come back either here (for actual bugs, PRs, etc.) or on slack (for cl

[2019-11-12 15:08] anirbanroydas commented on #8
@tarzanek So I tried the migration with spark-submit but it seems to gets stuck after completing a certain number of tasks. And I keep seeing these logs

[code]
What is going wrong here?

The config.yaml
for the source I am adding one of the seed node's private IP and for the target seed node's private IP.

the data gets migrated to new cluster to some extent which I verified by querying the new c

[2019-11-13 02:11] eyalgutkind opened #9 "Add SSL support for the spark-cassandra connector in the migrator"
Users would like to enable SSL connection between the migrator connections and Cassandra and Scylla.
We would like to make sure we have the needed support, similar to:
https://www.instaclustr.com/support/documentation/cassandra-add-ons/apache-spark/instaclustr-spark-with-ssl-configured-cassandra-cluster/

[2019-11-13 20:26] anirbanroydas commented on #8
@tarzanek  I am not sure if the above is making sense or not. Do let me know if you need more information to figure what might be going on there.

Really trying to get this tool to work.

[2020-01-13 09:03] tarzanek opened #13 "support conversion for inet type"
Scylla spark migrator doesn’t appear to work for all data types, e.g. migrating a table with an inet column results in all tasks crashing.
For reference: `com.datastax.spark.connector.types.TypeConversionException (Cannot convert object 50.233.105.0 of type class org.apache.spark.unsafe.types.UTF8String to java.net.InetAddress.)`

as per https://docs.scylladb.com/getting-started/types/
we could le

[2020-01-13 09:52] tarzanek commented on #13
this might work, needs tests:
[code]

[2020-01-14 09:22] tarzanek commented on #8
closing, let's talk about runtime in some kind of chat, or if you found a bug let's open a new issue

[2020-01-17 08:22] iravid commented on #13
@tarzanek The code looks correct to me, assuming Scylla can coerce the string to `Inet`.

[2020-01-17 08:56] tarzanek commented on #13
same assumption is on my side, so I need to retest to be 100% sure

[2020-01-31 10:44] daroodar commented on #8
Just FYI. I was stuck on the same issue and now its working after following these steps. Thanks :')

[2020-02-07 07:38] tarzanek commented on #1
same stuff, hit again by Moreno:

We are using the spark migrator but I would like to use keyspace and table as parameters instead of inside the config.yaml like this:
[code]
We get this error.
[code]
It works fine if we use it inside the config.yaml Maybe it is not spark.scylla.source.keyspace="src" anymore?

[2020-05-06 16:07] dyasny opened #17 "Migration failing for tables with counters"
On a table that has a few counters in place, the migration fails with

[code]

[2020-05-06 16:07] dyasny commented on #17
@elcallio I saw you already dealt with something similar in sstableloader, maybe you can help

[2020-05-06 16:19] dyasny commented on #17
schema:

[code]

[2020-05-06 17:13] dyasny commented on #17
@amihayday FYI this is a customer issue

[2020-05-07 10:30] tarzanek commented on #17
if this fix was to disallow timestamp updates (https://github.com/scylladb/scylla-tools-java/commit/c9080024576a95b0c1c406e909c6b07c33d176a2)
I guess I can file a PR

[2020-05-13 13:44] tarzanek commented on #17
the idea I had around this was to ignore the timestamps for counters,
early untested draft is in https://github.com/tarzanek/scylla-migrator/tree/counter-timestamps
but it's just an idea, the cassandra writer won't have to pick it up properly (and I didn't validate)

[2020-05-27 18:07] gnumoreno opened #18 "[RFC] Multiple keyspace and table parameters and/or multiple tables in the config file."
1. Allow to pass keyspace and table as command line parameters.

2. Allow to pass multiple tables in the yaml, comma separated.

Ex.: tables=table1,table2,table3

[2020-05-27 18:09] gnumoreno opened #19 "[RFC] Allow for configurable path for savepoints"
It would be good to write "savepoint" parameter in HDFS of the Cluster.

For example:

savepoints:
path: hdfs://...

Is it possible to create any flag to choose if I want to write my "savepoint" in local path or in HDFS?

#choose the flag parameter "local" or "hdfs"
flag=

[2020-05-27 18:10] gnumoreno commented on #18
#1 is related

[2020-06-05 10:48] iravid commented on #18
Hey @gnumoreno, no. 2 is about migrating multiple tables, if I understand correctly?

[2020-06-08 08:01] Anshita1Saxena opened #21 "Upgraded version of scala and spark for Scylla migrator"
We are currently using 2.4.4 version for Spark Cluster and Scylla 2019.1 enterprise version.
Looking for the upgraded version of scylla-megrator.

[2020-06-08 14:01] gnumoreno commented on #18
Yes, correct. @iravid @tarzanek

[2020-07-14 06:59] tarzanek commented on #13
retested with following table:
[code]
and works well, data was migrated from above cassandra to new scylla table

[2020-07-14 07:01] tarzanek commented on #13
what is puzzling me though is that there is InetAddressConverter  https://github.com/iravid/spark-cassandra-connector/blob/fd3645552ab43c113e2155221010ebc7e2d588a5/spark-cassandra-connector/src/main/scala/com/datastax/spark/connector/types/TypeConverter.scala#L407
BUT it lacks UTF8String conversion
so I am wondering if the rest of migrator isn't doing some explicit UTF8 conversion when reading dat

[2020-07-15 07:57] #13 closed

[2020-08-03 16:40] worldofprasanna opened #22 "Null Pointer Exception when trying to run build command"
I am trying to build the Scylla Migrator project using the command `./build.sh` But I am getting the below error,

[code]

This is my environment,
[code]

Please let me know if I am missing something. I have asked for help in the slack channel and I was redirected to creating an issue in Github. Thanks in advance.

[2020-08-07 17:48] tarzanek commented on #22
per https://travis-ci.org/github/scylladb/scylla-migrator/branches the builds work on master,
e.g. https://travis-ci.org/github/scylladb/scylla-migrator/builds/708254582
scala used is however 2.11 which might be the prob
let me retry in my env

[2020-08-07 17:52] tarzanek commented on #22
btw. note that the full clean way to build is in https://github.com/scylladb/scylla-migrator/issues/8#issuecomment-552019596
so you can try that in the mean time @worldofprasanna

[2020-08-07 20:43] iravid commented on #22
@worldofprasanna Can you verify you have `JAVA_HOME` exported? This looks like https://github.com/sbt/sbt/issues/5452. If that solves the problem we'll add that to the README.

[2020-08-08 05:11] tarzanek commented on #22
so for me
`sbt clean`
before running build.sh worked
I run it on same sbt version as you have, java "1.8.0_265" and scala should be picked by sbt from project properties automatically as 2.11
(I am on Ubuntu 20.04)

so can you please try this or any of the mentioned clean full way steps?

[2020-08-14 19:03] worldofprasanna commented on #22
Hey sorry for the late reply. I could able to do this & get it worked 👍

1. Set the JAVA_HOME - `export JAVA_HOME=$(/usr/libexec/java_home)`
2. Run `sbt clean` - In the log it mentioned that it started using scala 2.11
3. Run `./build.sh` and it worked.

Thanks guys !!

[2020-08-14 19:03] #22 closed

[2020-08-24 20:25] #21 closed

[2020-09-03 23:06] cansato opened #24 "execution error: yarn.ApplicationMaster ... "DecodingFailure""
Moreno (from Scylla) send to us a migrator .jar file some time ago and we use it to migrate 16Tb of data. It worked fine.

Now, I cloned the git repository and built jar from master.

When I ran this built jar in Yarn, I got this error: 20/09/03 18:06:33 ERROR yarn.ApplicationMaster: User class threw exception: DecodingFailure(Attempt to decode value on failed cursor, List(DownField(type), DownFie

[2020-09-04 13:54] tarzanek commented on #24
repasting from other channels:
missing the type field under source in the config. Check out the example config, the format changed slightly

[2020-09-04 13:54] tarzanek commented on #24
https://github.com/scylladb/scylla-migrator/blob/master/config.yaml.example#L3

[2020-09-04 13:55] #24 closed

[2020-09-15 18:06] kharmabum opened #25 "[Question]"
My team is exploring the use of this tool for reconstructing several tables that are live in production that need to be recreated  with new partitioning strategies (and data migrated over).

If we were able to _also_ leverage this tool as a way to bulk load data into Snowflake; it would would it significantly more appealing to us.

Could anyone provide a bit of insight into level of effort/cost th

[2020-09-15 18:19] dorlaor commented on #25
Since the tool supports CQL and DynamoDB already, it shouldn't be too
complicated
to add another source/target. For an expert, it's a couple of days work.
Patches are more
than welcomed.

On Tue, Sep 15, 2020 at 11:06 AM Juan-Carlos Foust <notifications@github.com>
wrote:

[2020-09-17 19:13] tarzanek commented on #25
@kharmabum this boils down to use it in the same way as writers in
https://github.com/scylladb/scylla-migrator/tree/master/src/main/scala/com/scylladb/migrator/writers
so you would just add a writer and implement writeDataframe
since https://github.com/snowflakedb/spark-snowflake is a datasource this should be straightforward as Dor correctly pointed out

[2020-09-17 19:19] kharmabum commented on #25
@tarzanek @dorlaor thanks for the thoughtful responses. I think I might be able to take this on in a few months. It depends on when we update to 4.0 (and thus get access to CDC which would enable this pipeline for us). Thanks again.

[2020-09-29 23:17] albertjosearaujo commented on #19
Enhancement related to original ZD record # 1276

[2020-10-06 15:30] albertjosearaujo commented on #18
Request related to ZenDesk record https://supportscylladb.zendesk.com/agent/tickets/1275

[2020-10-07 08:45] fcosta-td opened #26 "Error migrating Null collumns"
When running scylla-migrator i am getting the following error on a table with 200 records that allows null values:
[code]

[2020-10-07 08:46] fcosta-td commented on #26
Please let me know if you need additional information. Thanks

[2020-10-07 10:12] avikivity commented on #26
/cc @iravid

[2020-10-07 12:13] tarzanek commented on #26
@fcosta-td could you share schema?
we miss some encoder for some type it seems

[2020-10-07 12:24] tarzanek commented on #26
ok, I think this looks similar to
https://github.com/scylladb/scylla-migrator/pull/16

@fcosta-td can you patch your clone with above PR and retry please?

[2020-10-07 13:17] fcosta-td commented on #26
Sure:

`CREATE TABLE apps_subscriptions (
    app_id text,
    app_version_id text,
    active boolean,
    created timestamp,
    destination text,
    events set<text>,
    modified timestamp,
    shared_secret_id text,
    PRIMARY KEY (app_id, app_version_id)
) WITH CLUSTERING ORDER BY (app_version_id ASC)
    AND bloom_filter_fp_chance = 0.01
    AND caching = {'keys': 'ALL', 'rows_per_partiti

[2020-10-07 13:46] tarzanek opened #27 "Validator uses obsolete param"
[code]

line 125 should be removed
in https://github.com/scylladb/scylla-migrator/blob/master/src/main/scala/com/scylladb/migrator/Validator.scala#L125

[2020-10-07 17:14] tarzanek commented on #27
after removing above we still get:
[code]

[2020-10-07 17:21] phenriqueabr commented on #27
[root@centos7 bin]# ./spark-submit --version
Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 2.4.4
      /_/

Using Scala version 2.11.12, OpenJDK 64-Bit Server VM, 1.8.0_262
Branch
Compiled by user  on 2019-08-27T21:21:38Z
Revision
Url

[2020-10-07 23:28] pidiaquez opened #28 "migrator exit with exception when collection data-type is found"
Hi

we faced the following Exception, related to collection data type

`Exception in thread "main" java.lang.Exception: TTL/Writetime preservation is unsupported for tables with collection types"`

If  table doesn't use TTL, can this exception be safely skip?

can the TTL be set for all values from a collection via an update with TTL  after data is migrated?

suspected tables:

[code]
Thanks

Pabl

[2020-10-08 08:17] fcosta-td commented on #26
Hi @tarzanek, I've already tried that and it did not work. That function (explodeRow) was moved from Migrator.scala to Cassandra.scala, but when i change it to match that PR, it fails to compile.

[2020-10-09 07:00] tarzanek commented on #27
rebuilt the validator without that line and it works,
so ignore my previous paste, it was an unclean build
will open a PR

[2020-10-09 08:12] tarzanek commented on #28
@pidiaquez
I think you should be able to just disable writing of timestamps in such case, shouldn't you?
in config:
[code]
flip to false

[2020-10-09 10:26] tarzanek commented on #26
ok, let me try to update the patch

[2020-10-09 12:56] tarzanek commented on #26
@fcosta-td can you check https://github.com/tarzanek/scylla-migrator/tree/null-regular-columns-rebase
and build and try to use it?
worst case ping me on slack, I can give you a build of above if needed

[2020-10-09 13:19] fcosta-td commented on #26
Hi @tarzanek ,
I've just tested it and it still fails with the same error.

[2020-10-12 18:31] #27 closed

[2020-10-12 20:45] sangeethdba commented on #26
any update

we are getting same issue null columns

[2020-10-12 20:45] sangeethdba commented on #26
org.apache.spark.sql.Row, true]).isNullAt) null else mapobjects(MapObjects_loopValue0, MapObjects_loopIsNull0, ObjectType(class java.lang.Object), staticinvoke(class org.apache.spark.unsafe.types.UTF8String, StringType, fromString, validateexternaltype(lambdavariable(MapObjects_loopValue0, MapObjects_loopIsNull0, ObjectType(class java.lang.Object), true), StringType), true, false), validateexterna

[2020-10-13 06:24] iravid commented on #26
Hi folks, sorry for the problems you're running into here. This looks familiar to me so it must have been a regression from the recent driver upgrade. I will take a stab at this later today.

[2020-10-13 12:44] anonymoose commented on #26
Thanks @iravid.  Seeing the same issue here.

[2020-10-13 16:03] anonymoose opened #30 "java.lang.RuntimeException: Error while encoding UDTValue"
# Issue

When running scylla-migrator to copy a table with a user defined type, scylla-migrator throws an exception.

# scylla-migrator configuration

[code]

# Keyspace / Table config

[code]

# Exception

[code]

[2020-10-13 18:16] anonymoose commented on #26
@iravid This is our setup that causes the problem.

# table definition
[code]
# exception trace
[code]

[2020-10-13 18:36] anonymoose commented on #26
Tried this with a small table with known data.  Ensured there were no nulls in the 'exclusions' column collections.  Still failed with same exception described above.

[code]

[2020-10-13 19:11] iravid commented on #26
Thanks for the info everyone! The problem is with composite data types (lists, sets, maps, tuples, UDTs) that contain strings. Will have a fix soon.

[2020-10-13 19:20] sangeethdba commented on #26
@iravid thanks for looking into it .looking forward for the fix.

[2020-10-13 19:51] tarzanek commented on #30
#31 should fix this ...

[2020-10-13 20:00] iravid commented on #30
@tarzanek Not yet, I think this is a different problem :-)

[2020-10-13 20:25] #26 closed

[2020-10-13 20:25] #30 closed

[2020-10-13 20:25] iravid commented on #30
Latest master should fix this 👍 Thank you for your patience!

[2020-10-13 20:26] iravid commented on #26
Latest master should fix this 👍 Thank you for your patience!

[2020-10-13 21:53] clad opened #32 "java.lang.Integer is not a valid external type for schema of bigint"
Hello,

Getting an exception for the following table -
[code]

[code]

config.yaml for table -
[code]

[2020-10-14 06:23] sangeethdba opened #33 "decimal type migrations showing different results"
we see issues with scylla-migrator while handling decimals. for example my source columns with type decimal has data as 11 and after migration the target table data showing as 11.00000000000000

table defination has

    availability decimal,

source :

availability

11

target:

availability

11.000000000000000000

what need to done ,to see same data  in both source and target

[2020-10-14 06:25] sangeethdba commented on #33
any thing to do with floatingPointTolerance ?

[2020-10-14 15:59] sangeethdba commented on #33
@iravid

[2020-10-14 20:19] sangeethdba commented on #33
CREATE TABLE qa2.iav (
    ktu int,
    lid text,
    lt text,
    av decimal,
    adsq decimal,
    bq bigint,
    mts timestamp,
    mu text,
    uav decimal,
    PRIMARY KEY ((ktu, lid, lt))
) WITH bloom_filter_fp_chance = 0.1
    AND caching = {'keys': 'ALL', 'rows_per_partition': 'NONE'}
    AND comment = ''
    AND compaction = {'class': 'org.apache.cassandra.db.compaction.SizeTieredCompacti

[2020-10-14 20:23] sangeethdba commented on #33
@iravid  FYI

[2020-10-15 04:41] pidiaquez commented on #28
attempted the transfer with **_preserveTimestamps: true_**

and got a different error stack

Caused by: java.lang.RuntimeException: org.apache.spark.unsafe.types.UTF8String is not a valid external type for schema of string

using  Spark 2.4.4

[code]

[2020-10-18 20:14] sangeethdba commented on #33
@iravid can you hep

[2020-10-19 18:55] tarzanek commented on #28
hello, this last was fixed in latest scylla-manager, please update from master

[2020-10-20 03:49] sangeethdba commented on #33
any help is apprecaited

[2020-10-27 21:04] #33 closed

[2020-10-27 21:11] iravid commented on #32
Hey @clad - this is not replicating for me given latest master, your schema definitions and the following test row:
[code]

If you could provide a test row that demonstrates the issue that'd be great.

[2020-10-27 21:14] iravid commented on #33
Hi @sangeethdba - please pull the latest master version and add stripTrailingZerosForDecimals: true to the target section of your config.yaml . That should solve the issue.

[2020-10-28 18:46] clad commented on #32
[organization_notification.csv.gz](https://github.com/scylladb/scylla-migrator/files/5454164/organization_notification.csv.gz)

Tried with latest master, same error with above data. Thanks for looking into this.

[2020-11-02 11:51] fcosta-td opened #35 "Strip trailing zeros throws error"
I am unable to run migrator with this option, true and false, due to the following error:

`20/11/02 11:45:34 INFO BlockManagerMaster: Registering BlockManager BlockManagerId(driver, spark-master, 44951, None)
20/11/02 11:45:34 INFO BlockManagerMasterEndpoint: Registering block manager spark-master:44951 with 366.3 MB RAM, BlockManagerId(driver, spark-master, 44951, None)
20/11/02 11:45:34 INFO Bl

[2020-11-02 11:53] fcosta-td commented on #35
Additionally, it would be great if you could create releases every time you merge changes into master.

[2020-11-09 15:29] tarzanek opened #37 "add support for spark 3.0"
upstream has spark 3.0 support since 24.9. - https://github.com/datastax/spark-cassandra-connector/tree/v3.0.0
we should add it too, but this means having to support both versions, most of users are on 2.4
(some early birds went to 3.0)
(and few are still on 2.3 ... )

[2020-11-09 17:03] #28 closed

[2020-11-10 06:59] sangeethdba opened #38 "migrator tasks are failing with "Can't get more results because the continuous query has failed already""
java.util.concurrent.CancellationException: Can't get more results because the continuous query has failed already. Most likely this is because the query was cancelled
	at com.datastax.dse.driver.internal.core.cql.continuous.ContinuousRequestHandlerBase$NodeResponseCallback.cancelledResultSetFuture(ContinuousRequestHandlerBase.java:1531)
	at com.datastax.dse.driver.internal.core.cql.continuous.Con

[2020-11-10 07:00] sangeethdba opened #39 "some migrator tasks are failed with the below error."
WARN TaskSetManager: Lost task 271.0 in stage 0.0 (TID 271, 10.64.68.39, executor 0): java.io.IOException: Failed to write statements to kshd.hd_it. The
latest exception was
  Query timed out after PT2M

Please check the executor logs for more exceptions and information

	at com.datastax.spark.connector.writer.TableWriter$$anonfun$writeInternal$2$$anonfun$apply$3.apply(TableWriter.scala:250)
	at c

[2020-11-10 17:01] tarzanek commented on #32
I could reproduce today, but not with this data
I reproduced with uuid and timeuuid data in schema

[2020-11-10 17:27] tarzanek commented on #32
now I am sure that the problem comes from "preserveTimestamps: true"

[2020-11-12 09:11] Dobiasd commented on #32
Just ran into the same problem (using the latest version from `scylla-migrator/tree/master`) when trying to migrate a table from Cassandra to Scylla.

[code]

It's working fine when setting `preserveTimestamps: false`, but I'd like to preserve my timestamps though. :grimacing:

[2020-11-12 13:38] Dobiasd commented on #17
Just ran into a similar problem (using the latest version from `scylla-migrator/tree/master`) when trying to migrate a table with counter columns (without TTL) like the following one from Cassandra to Scylla:

[code]

it results in:

[code]

[2020-11-12 16:23] tarzanek commented on #32
@Dobiasd for now reset to changeset https://github.com/scylladb/scylla-migrator/commit/71c37b32a2b8ea9c125a55a541f21c38aadf7ab6 and use older migrator, that will work until master is fixed

[2020-11-12 20:36] iravid commented on #32
Just submitted a fix for this. Sorry it took so long - I missed `preserveTimestamps: true` in @clad's original config.

[2020-11-13 07:13] #32 closed

[2020-11-13 11:19] tarzanek commented on #35
The weird error
" Exception in thread "main" DecodingFailure(Attempt to decode value on failed cursor, List(DownField(stripTrailingZerosForDecimals), DownField(target))) "
just says it cannot parse the config file properly

[2020-11-13 11:20] tarzanek commented on #35
can you add your config?
or move it to proper section?

[2020-11-13 11:21] tarzanek commented on #35
if you notice the option it's part of "target" section:

https://github.com/scylladb/scylla-migrator/blob/master/config.yaml.example#L98

so yaml is sensitive about white space
you need to make it properly white space alligned

(and I know the error sucks, I'll try to figure out if the error can be more human friendly)

[2021-01-08 05:58] eyalgutkind commented on #17
We have another request the support of counter tables. Is it possible?
The error received is:
[code]
  The data model for the target data is :
[code]

[2021-01-15 16:58] tarzanek opened #45 "version jars"
Let's get the git hash into the jar version so we know where the jar comes from

[2021-01-20 18:53] tarzanek opened #46 "int conversion problems"
Migrator version https://github.com/scylladb/scylla-migrator/commit/b960adacd9ebf878f4f087b48e448dc31223f6b9
I have a simple cql as source:

[code]

when I migrate this table
migrator throws errors in driver logs:

[code]

[2021-01-20 18:55] tarzanek commented on #46
spark 2.4.7
jdk 1.8 used for build and for running spark

[2021-01-20 18:56] tarzanek commented on #46
I don't see the problem with https://github.com/scylladb/scylla-migrator/commit/85e5039809dbfe56d58c5bcca2ac4acf13b4b7ed

[2021-01-20 19:03] #46 closed

[2021-02-17 08:10] tarzanek commented on #9
https://ultrabug.fr/Tech%20Blog/2018/2018-07-19-authenticating-and-connecting-to-a-ssl-enabled-scylla-cluster-using-spark-2/
and https://ultrabug.fr/Tech%20Blog/2020/2020-11-06-renaming-and-reshaping-scylla-tables-using-scylla-migrator/
is working
so this just needs documentation similar to above blogs

[2021-04-22 18:20] tarzanek commented on #9
https://github.com/scylladb/scylla-migrator/commit/f52bea9832a318d1539c46c447e1733043806593
should fix it, testing now

[2021-04-23 17:50] tarzanek opened #50 "ERROR migrator: Caught error while writing the DataFrame. Will create a savepoint before exiting java.lang.ArithmeticException: / by zero"
I tried migrating from scylla compose.io container cloud to Scylla Cloud private (with private VPC)
and it seems the 4.5 driver inside latest migrator has issues
I saw:
[code]

and later
[code]

so connection / writing to Scylla Cloud has an issue with latest master

[2021-04-23 17:53] tarzanek commented on #50
source was SimpleStrategy replication
target was NetworkTopologyStrategy

I actually used master + ssl support https://github.com/scylladb/scylla-migrator/tree/ssl_config

FWIW the connection with same clusters works with https://github.com/tarzanek/scylla-migrator/tree/ssl-token-range-total
so 71c37b32a2b8ea9c125a55a541f21c38aadf7ab6 was still working, while new version which uses 4.5 drivers and

[2021-05-03 21:13] phenriqueabr opened #51 "Many types in one column, migrator not working"
I'm trying to use scylla-migrator with table below and gives me an error.
If I use an table without column blocks like, it runs normally.

[code]

[code]

[2021-05-25 13:49] phenriqueabr opened #52 "Migrate data from other different table"
Guys,

I need to migrate all data from one table for other, but there are 2 differences:

1- there's one column more on destine (compensation_group text)
2- this new columns, is a Clustering Key (compensation_group) on destine table
3- I need value "default" on this new column on destine table.

[origin_table.txt](https://github.com/scylladb/scylla-migrator/files/6539771/origin_table.txt)
[destine

[2021-05-25 14:35] phenriqueabr commented on #52
Error:

21/05/19 16:39:59 INFO migrator: Created a savepoint config at /data/migrator/savepoints/savepoint_1621453199.yaml due to schedule. Ranges added: Set()
21/05/19 16:40:01 ERROR migrator: Caught error while writing the DataFrame. Will create a savepoint before exiting
java.lang.IllegalArgumentException: Some primary key columns are missing in RDD or have not been selected: compensation_group

[2021-05-31 17:51] tarzanek commented on #52
hello @phenriqueabr there is a mapping that can be specified, but let's see if it can be used(have you tried it?), I will simulate your use case and let you know
but most likely if the mapping won't work for you we will need to add some support for this use case to codebase

[2021-05-31 18:14] phenriqueabr commented on #52
This rename function is when you have the same number of columns and just 1 column you gonna redirect you import, right?

In my case, the destine table have the same columns from origin, but with 1 more column! And that new column, was inserted on Clustering Key
And, if it's possible... this new column needs "default" as value on all rows inserted in table destine (if not possible, could be null o

[2021-06-01 06:53] tarzanek commented on #52
if the number of rows mismatches, it's OK, the column would be empty (since after all this is nosql and thin rows, so if you don't specify a value, it won't be used)
BUT the problem here is that column is part of the key, so it has to be initialized

MV could be a workaround, but then I assume you need other values there than "default" later too

[2021-06-07 18:23] phenriqueabr commented on #52
I understood what you said.

I know this new column is strange to have "default" as value, but we need to start with some value and on new rows will be different, and will have some updates to fix this all "default" values.

MV could be a alternative, but won't solve a future problem. They need to use this new columns on their queries

[2021-06-17 10:01] tarzanek commented on #9
fixed by https://github.com/scylladb/scylla-migrator/pull/49

[2021-06-17 10:01] #9 closed

[2021-06-22 09:34] ar-srinivas opened #54 "Scylla Migrator - Not picking the tables when the source dynamoDB is running without shared DB(-sharedDB)"
Scylla Migrator is always taking the source from a shared dynamo db file(shared-local-instance.db) instead of specific acceskey file. We don’t run the dynamodb with the -sharedDB option and looking for a solution to migrate the data for each of the dynamodb files w.r.t. the given accessKey.

[2021-07-05 17:27] phenriqueabr commented on #52
Any news?

[2021-07-23 13:22] tarzanek commented on #52
So my idea is this:
https://github.com/tarzanek/scylla-migrator/commit/49c6cbdde2868fc1921f192ec4dd21e2257d6f8b

(or as branch https://github.com/tarzanek/scylla-migrator/tree/defaults )

@phenriqueabr will you be able to test above?

[2021-10-15 12:53] kumar-shrey opened #57 "How to configure batching or throughput for writing to Scylla."
We have some schedules where we want to copy some data from parquet files to Scylla cluster. We were using custom code blocks to achieve this, we are exploring scylla-migrator for the same. And upon experiment found scylla-migrator performing a lot more ops/sec on scylla for same amount of data(almost 10x). I m guessing it might be due to the size of batches that we used to create earlier vs the b

[2021-10-20 06:53] IshikaSonii opened #58 "Validation Scripts fails if the schema of source table and target table are different"
I have the following source schema and target schema
Source Schema Creation Query : CREATE TABLE source (firstName text, lastName text, city text,PRIMARY KEY (firstName, lastName))
Target Schema Creation Query : CREATE TABLE target (firstName text, lastName text, city text, PRIMARY KEY((firstName ,lastName),city));

Error which I received on running the validator : Exception in thread "main" java.

[2021-11-03 15:32] tarzanek opened #59 "Validate TTL if it gets moved properly"
Per
https://docs.scylladb.com/getting-started/time-to-live/
we might need to decrease TTL written so we don't reset it, when taken with TTL function from source DF

https://docs.scylladb.com/kb/ttl-facts/

[2021-11-03 16:44] tarzanek commented on #59
TTL function gets current TTL for the data, so source wise this looks OK

[2021-11-03 16:45] tarzanek commented on #59
Does it need adjusting for PK ?
PK TTL should pick the biggest out of all TTLs

[2021-11-03 16:45] tarzanek commented on #59
also does it need adjusting for default, if the default TTL varies between both tables?

[2021-11-04 13:50] tarzanek commented on #59
validate different columns TTL (so
k, a,b,c and use 3 inserts to insert a,b,c with different TTLs)
and validate target also has proper TTLs (so 3 different for each column)

[2021-11-22 04:59] amit78del opened #60 "Getting error- "Not a valid command: assembly" while running build.sh"
Hi,

While running build.sh, I am getting error - "not a valid command: assembly". I followed instructions from below page to run locally.
https://github.com/scylladb/scylla-migrator

Installed sbt by using SDKMAN as mentioned in below doc.
https://www.scala-sbt.org/release/docs/Installing-sbt-on-Linux.html

Java version-
openjdk version "1.8.0_292"
OpenJDK Runtime Environment (build 1.8.0_292-8u2

[2021-11-22 05:02] amit78del commented on #60
@iravid, @tarzanek  adding you guys here for faster inputs.

[2021-11-22 09:25] tarzanek commented on #60
@amit78del this is definitely an env issue
so we can go and debug your env
(try to get `env` output to see what is wrong)
OR ideal case is to spawn a new clean stock VM and try to build
I am building this just fine on clean Ubuntu 21.10 or on Fedora 35 - java is openjdk packages, exported with JAVA_HOME
sbt is installed from repo (so I *don't* use SDKMAN)
I have a clean git clone of scylla-migrato

[2021-11-26 12:24] amit78del commented on #60
Thanks @tarzanek after cleaning the env, the issue was resolved.

[2021-11-26 12:33] amit78del opened #61 "Getting timeout from scylla migrator if system is configured with ipv6"
Hi,

I am trying to run scylla-migrator on my local system with ipv6 configured. But getting timeout error while migrator is trying to select data from source DB.

I have source and target DB running on 9043 and 9044. Both DB are accessible via cqlsh but migrator is returning below error.

21/11/25 11:23:04 WARN TaskSetManager: Lost task 3.0 in stage 0.0 (TID 3, 127.0.1.1, executor 1): java.io.IOE

[2021-11-26 12:38] tarzanek commented on #61
just a note
this system is Ubuntu 18.04 and it uses IPv6 (that's what DNS replies for hostname)
also it is on wifi - so laptop with dynamic DHCP address

[2021-11-26 12:44] tarzanek commented on #61
is https://github.com/scylladb/scylla-migrator/issues/39 duplicate of this? @sangeethdba did you run on similar setup?

[2021-12-07 08:17] #60 closed

[2022-01-19 12:31] tarzanek opened #63 "Add BYPASS CACHE to migrator to avoid polluting source cluster cache when doing migration"
afaik connector doesn't support BYPASS CACHE, so first thing would be to add it there

[2022-02-21 15:37] tarzanek commented on #17
with recent code base it works only for SINGLE counter column
if there are more you end up with:

[code]
in case there are null counter columns

[2022-02-22 18:08] tarzanek commented on #17
filtering the null values in terms of counters needs to be done to get this working

[2022-02-28 15:17] tarzanek opened #68 "DynamoDB: credentials shouldn't be optional (both for DynamoDB and Alternator)"
If you don't provide at least fake credentials, you will get:

[code]

so we should make credentials mandatory

[2022-02-28 15:50] hopugop opened #69 "[Alternator] ensure streamChanges skips transferring changes"
Even though having `streamChanges = False` in both Source (DynamoDB) and Target (Alternator), Migrator stll tries to transfer changes:

[code]

[2022-02-28 16:16] hopugop commented on #69
This change worked out fine for me, let me know if you need further info:
[code]

[2022-03-09 09:03] tarzanek opened #70 "preserve writetimestamp for migrating collections"
try to preserve timestamp
or give a choice which writetimestamp to use for collection

[2022-03-26 21:47] stjack opened #71 "Dynamo DB struc column convert issue"
There is a source column in Dynamo DB without explicit element, printed result is
....
 |-- name: text(nullable = true)
 **|-- role: struct (nullable = true)**
 |-- permission_live: boolean (nullable = true)

I define role as map, list , set<user_defined_type>, all failed with below error
CREATE TYPE devdb.role_type(
    role    	text  -- placeholder only
);
ALTER TABLE  devdb.dev_db_4RD ADD role

[2022-03-28 04:25] #71 closed

[2022-03-28 04:25] stjack commented on #71
I use scylla mode, which is based on cassandra, may cause this issue

[2022-04-22 12:13] fee-mendes opened #73 "Migrate data between different table schemas with common columns"
Consider that:

Source table is:
[code]

Target is:
[code]

Scylla Migrator should be able to ignore the missing columns on target table (`value3` in the example above) and feed it regardless, this would help a lot during table migrations.

[2022-04-28 18:58] hopugop opened #76 "Preserve TTL for individual collection items"
One customer needs to preserve TTL for individual items inside collections (maps in this case).

[2022-05-24 02:09] hopugop commented on #69
https://github.com/scylladb/scylla-migrator/pull/77 merged, closing.

[2022-05-24 02:09] #69 closed

[2022-06-25 19:46] hopugop opened #79 "Retry from validator findings"
The Validator run could generate a config file that would retry transferring only rows that Validator found issues on.
This would greatly simplify a retry process in case there are differences.

[2022-06-25 19:52] hopugop opened #80 "Tunable consistency as a config parameter"
Currently consistency can be tuned by passing config Spark config parameters to the submit job. This could be a configurable option in source/target entries on the config file.

Examples of Spark submit parameters:
[code]

The default consistency for input is LOCAL_ONE, while output is LOCAL_QUORUM. On a cluster that does not run repairs, this means data can be inconsistent among different runs.

[2022-06-25 20:54] netguy204 commented on #79
Yes! This would be wonderful!

[2022-06-25 20:54] netguy204 commented on #80
yes! And the example config should be updated to mention these new parameters as well.

[2022-06-30 14:21] fee-mendes opened #81 "Ignore collection types timestamp & ttl but preserve for regular columns"
When `preserveTimestamps: true` [determineCopyType](https://github.com/scylladb/scylla-migrator/blob/master/src/main/scala/com/scylladb/migrator/readers/Cassandra.scala#L27:L31) throws when a collection is found within the given source table.

This approach - however - prevents one to preserve timestamps and TTLs for regular columns when a collection column exists, which which may not be acceptabl

[2022-06-30 14:21] fee-mendes commented on #81
@tarzanek

[2022-06-30 17:18] tarzanek commented on #81
you can use the same timestamp for all rows and for collections too, see the new timestamp and ttl option at the bottom of sample conf file
@fee-mendes , preservetimestamp has to be false for them to be used

[2022-06-30 17:19] tarzanek commented on #81
ah, ok, let's see if this can be improved
it won't be easy

[2022-07-03 19:53] hopugop commented on #79
cc @tarzanek

[2022-07-03 19:53] hopugop commented on #80
cc @tarzanek

[2022-07-03 20:00] hopugop opened #82 "Obfuscate passwords from log"
Migrator output prints plaintext password when printing contact point configuration:

[code]
From this example:
[code]

We need to obfuscate passwords from logs to ease sharing for troubleshooting.
/cc @tarzanek

[2022-07-15 01:41] netguy204 opened #83 "tried to execute unprepared query"
while migrating a few hundred GB table from Cassandra 2 to scylla:

22/07/15 01:11:04 WARN TaskSetManager: Lost task 18.0 in stage 2.0 (TID 23, 172.23.0.3, executor 0): java.util.concurrent.ExecutionException: java.lang.Il
legalStateException: Tried to execute unprepared query 0x3343745dad770b5ffc3a4359942538f0 but we don't have the data to reprepare it
        at com.google.common.util.concurrent

[2022-07-20 14:32] carlo4002 opened #84 "migrating tables with cdc enabled ends with Failed to execute"
Hello guys

I am testing a migration of a table with cdc enable in source (cassandra) and target ( scylladb). The job finished in error with the next message.

`22/07/13 14:09:49 ERROR QueryExecutor: Failed to execute: com.datastax.spark.connector.writer.RichBoundStatementWrapper@6512ab5fcom.datastax.oss.driver.api.core.servererrors.InvalidQueryException:cdc: attempted to get a stream from an earl

[2022-07-27 13:04] tarzanek commented on #83
@netguy204 is it possible you can inspect this data that is problematic?
It seems cassandra 2 replies with some empty/null rows and then spark has problems inserting them
Could it be in your cassandra there is just a row with PK and all other columns as null? (wild guess)

the other option is to capture the schema, data (done data is in resume file, so we'd need to dump other tokens not done) and

[2022-07-27 13:05] tarzanek commented on #84
This is a known CDC bug
there is a way to fix the streams

see

[2022-07-27 13:08] tarzanek commented on #84
API for that was in https://github.com/scylladb/scylla/issues/6498

but all this assumes the error comes from Scylla, not sure about cassandra @carlo4002

[2022-07-27 13:11] tarzanek commented on #84
also I am confused by your implementation of dual writes, you just need CDC on source of dual writes and consume and write it to target.
There is a kafka CDC consumer to help with this.
Target won't need CDC at all, resp. I don't see why would you need it there.

Also note that other option is to just do dual writes from application and in such case you won't need CDC anywhere (but a small code ch

[2022-07-27 13:14] tarzanek commented on #84
so I would just migrate with CDC disabled in target

alternative is of course disabling preserveTimestamp, but this way you will risk overwriting dual written data!

[2022-07-27 13:27] tarzanek opened #85 "fails to copy row_keys table because non-nullable field data_type of the Cassandra DB contains null values"
migrate from Cassandra 3.11.13 to ScyllaDB, the schema is from KairosDB, migrator fails to copy row_keys table because non-nullable field data_type of the Cassandra DB contains null values (error: RuntimeException: The 3th field 'data_type' of input row cannot be null)

is there a workaround?

[2022-07-27 13:30] tarzanek commented on #85
generally we can add a null check into preparation of the data for writing, but it is weird a non-nullable column contains nulls
does Cassandra have some way to either repair or scrub the data?
(ala https://docs.scylladb.com/stable/operating-scylla/nodetool-commands/scrub.html )

[2022-08-01 16:40] apesaDS opened #86 "Migrator fails to create DynamoDB table in Scylla if Dynamo table is larger than 100 attributes"

[2022-08-01 16:47] apesaDS commented on #86
When migrating from DynamoDB to Scylla Alternator Migrator fails to create table in Scylla if DynamoDB table is larger than 100 attributes
In DynamoDataSourceReader.scala, line 97
if (typeSeq.size > 100) throw new RuntimeException("Schema inference not possible, too many attributes in table.")
I changed typeSeq.size > 150
It gets past this exception but fails to creaate the table I need in Scylla.

[2022-08-02 06:51] tarzanek commented on #86
this will be partially fixed by https://github.com/scylladb/scylla-migrator/tree/spark-3.1.1
it adds
https://github.com/scylladb/spark-dynamodb/commit/978c0cd7e49f99b976d0192db0a027d573f83991
which has inferSchema=false
but it'd need to be exposed in migrator, too, for above to work

[2022-08-02 18:16] apesaDS commented on #86
Thx, what would it take to expose this in mIgrator?

[2022-09-12 12:22] hopugop opened #87 "savepoints directory does not exist"
On the main git tree the `savepoints` directory does not exist and the build script does not create it.
The directory has to be manually created by the user, otherwise they'll get this error:

[code]

[2022-09-20 06:21] tarzanek commented on #70
preserving timestamp is a no go, since we cannot query writetimestamp for a collection
however this is fixed by giving a choice to set writetimestamp with
https://github.com/scylladb/scylla-migrator/pull/72

so for collection tables you can use
`writeTTLInS` and (or) `writeWritetimestampInuS` to set hardcoded value - ideally older than when dual writes have started

[2022-09-20 06:22] tarzanek commented on #76
see https://github.com/scylladb/scylla-migrator/issues/70 , resp. https://github.com/scylladb/scylla-migrator/pull/72 for overall approach
we can preserve TTL for whole collection, not sure if it is possible to preserve per each item, if we can query this, then there is a chance to get a support for this fine grained approach

[2022-09-29 22:04] jwsomis opened #91 "Regression on renames"
Renames was working for me when I pulled and built from about 10 days ago, but has stopped working since then. Schema after renames still shows correctly, but the error is the same as when I had the naming conflict prior to renames (see `tokn_ttl type string` of original schema, conflicted with generated `tokn_ttl of type integer`)

Config:
[code]

Run logs:
[code]

[2022-09-30 04:45] tarzanek commented on #91
can you try disable preserve timestamps if it fixes your issue?

I just want to see if ordering for preserve timestamp and column rewrite don't conflict

[2022-09-30 16:59] jwsomis commented on #91
That did seem to resolve it

[2022-10-01 06:21] tarzanek commented on #91
so this is not really a regression
but we have a bug when both rename and preserve timestamp is set

both affect schema generation in code
and you need to do rename for ttl tokens too

[2022-10-03 11:07] arkgal commented on #86
@apesaDS @tarzanek
What would be the current status here?
It seems like taking pretty time?
Do we have any ETA on it?
Thanks guys!

[2022-10-04 18:11] jwsomis commented on #91
The only reason I consider it a regression is that it did work for me a couple weeks ago to have both preserveTimestamps and a rename, but I have not checked out an older version to re confirm that the same config that is broken now worked prior it is just from memory that nothing was changed.

[2022-10-07 14:42] carlo4002 commented on #84
Hello @tarzanek , Sorry it took so long to give you my feedback about this, I am still working on this and yes my work around was to disable cdc in scylla for the moment.

The cdc is scylla isn't for the migration (dual writes) but for some applications that use this db. So not all the tables have the cdc.

So when I say I need migration without downtime, I wanted to say that cdc must be enable in

[2022-10-13 14:18] carlo4002 opened #92 "Migrator wrongly detect a cluster key as empty"
Hello guys,

I am running the migrator job, and I got an strange error.

The job doesn't finish completely and gives this message

`Error while encoding: java.lang.RuntimeException: The 1th field 'userprofiletype' of input row cannot be null.`

This field userprofiletype is a cluster key, it is not null.

I was able could extract some missing primary keys and the data looks no corrupted.

I attach

[2022-10-19 10:57] tarzanek commented on #86
plan is to fix it with next spark 3 version which lifts this limit, for now increasing the limit is the workaround

[2022-10-19 15:23] tarzanek commented on #86
btw. the quick (and dirty) patch in module spark-dynamodb is
[code]

[2022-10-19 20:00] hopugop commented on #92
@carlo4002 what is the Scylla Migrator branch you used to build the project?
Also please share the versions of Java, Scala and Spark.

cc @tarzanek @igorribeiroduarte

[2022-10-20 08:37] tarzanek commented on #92
yes, there were some null checks added to recent version, we can eventually improve them
so knowing which version of migrator is used is crucial (dtto for spark, since current master only works on 2.4, for 3.1 there is a different branch)

[2022-10-20 09:32] carlo4002 commented on #92
Hello @tarzanek , so I used the master branch this commit b69a5908b12b876c0c62039d3dd60e7cb80c8d09.

We are using spark 2.4.4 as it was recommended and 1.8.0_212 (Amazon.com Inc.)
Scala version 2.11.12.

Sorry I did not answer before, I am available in Europe time zone

[2022-10-20 10:04] tarzanek commented on #92
https://github.com/scylladb/scylla-migrator/blob/master/src/main/scala/com/scylladb/migrator/readers/Cassandra.scala#L132
should validate PKs as well as CKs, I guess we can try to validate

[2022-11-15 16:58] jwsomis commented on #61
I am seeing this error, but just on one table. Don't see anything particularly special about the table and it has been fine to migrate in the past.

22/11/15 16:11:45 INFO Cassandra: TableDef retrieved for source:
22/11/15 16:11:45 INFO Cassandra: TableDef(carbine,geo_location,ArrayBuffer(ColumnDef(account_id,PartitionKeyColumn,VarCharType), ColumnDef(device_id,PartitionKeyColumn,VarCharType)),Arr